@model TwitterCopy.Models.TweetViewModel

<div class="d-flex justify-content-between align-items-center mb-2">
    <a asp-page="/Profiles/Index" asp-route-slug="@Model.Slug">
        <span class="d-block">
            <strong>@Model.UserName</strong>
        </span>
        <span>
            <small class="text-muted">@@@Model.Slug</small>
        </span>
    </a>
    <div class="profile-actions">
        @if (!(bool)ViewData["IsYourself"])
        {
            <div class="profile-follow-actions">
                <button type="button" class="btn btn-outline-primary btn-follow-main @((bool)ViewData["IsFollowed"] ? "d-none" : "")">
                    <span data-userslug="@Model.Slug">Follow</span>
                </button>
                <button type="button" class="btn btn-primary btn-following-main @((bool)ViewData["IsFollowed"] ? "" : "d-none")">
                    <span data-userslug="@Model.Slug">Following</span>
                </button>
                <button type="button" class="btn btn-danger btn-unfollow-main d-none">
                    <span data-userslug="@Model.Slug">Unfollow</span>
                </button>
            </div>
        }
    </div>
</div>
<div class="w-100 mb-2">
    <p class="text-body mb-0">@Model.Text</p>
</div>
<div class="w-100 mb-2">
    <span class="text-muted">
        <small>@Model.PostedOn.ToString("h:mm tt '-' d MMM yyyy")</small>
    </span>
</div>
<div class="w-100">
    @if (Model.UserName == User.Identity.Name)
    {
        <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#deleteTweetModal" data-tweet-id="@Model.Id">
            Delete
        </button>
    }
    <button type="button" class="btn btn-outline-secondary btn-reply" data-tweet-id="@Model.Id">
        <span>@Model.ReplyCount</span>
    </button>
    <button type="button" class="btn btn-outline-success btn-retweet" data-tweet-id="@Model.Id">
        <span>@Model.RetweetCount</span>
    </button>
    <button type="button" class="btn btn-outline-primary btn-like" data-tweet-id="@Model.Id">
        <span>@Model.LikeCount</span>
    </button>
</div>
<div class="reply-container mt-2">
    <div class="reply-tweetbox p-2">
        <form method="post" id="sendReplyForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Text" id="replyTextInput" value=""
                       class="form-control" placeholder="Tweet your reply" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="sendReplyBtn" value="Reply" class="btn btn-primary"
                       data-tweet-id="@Model.Id" />
            </div>
        </form>
    </div>
</div>
@foreach (var tweet in Model.RepliesFrom)
{
    <partial name="_Tweet" model="tweet" />
}