@model TweetViewModel

<div class="tweet-actionable"
     data-tweet-id="@Model.Id"
     data-user-slug="@Model.Slug">
    <div class="tweet">
        @if (Model.IsRetweet)
        {
            <div class="row context">
                <div class="col-md tweet-context">
                    <span>
                        @if (Model.RetweetSlug.Equals(ViewData["CurrentUserSlug"].ToString()))
                        {
                            <a asp-page="/Profile/Index" asp-route-slug="@Model.RetweetSlug">
                                <b>You</b>
                            </a>
                        }
                        else
                        {
                            <a asp-page="/Profile/Index" asp-route-slug="@Model.RetweetSlug">
                                <b>@Model.RetweetUserName</b>
                            </a>
                        }
                        Retweeted
                    </span>
                </div>
            </div>
            <!-- /.row -->
        }
        <div class="row p-2">
            <div class="col-md-1 p-0 pl-1">
                <a asp-page="/Profiles/Index" asp-route-slug="@Model.Slug">
                    <img class="avatar" src="~/images/profile-images/@Model.Avatar" />
                </a>
            </div>
            <!-- /.col-md-1 -->
            <div class="col-md-11">
                <div class="d-flex align-items-center">
                    <a asp-page="/Profiles/Index" asp-route-slug="@Model.Slug">
                        <span>
                            <strong class="username">@Model.UserName</strong>
                        </span>
                    </a>
                    <a asp-page="/Profiles/Index" asp-route-slug="@Model.Slug" class="slug ml-1">
                        <span>
                            @@<b>@Model.Slug</b>
                        </span>
                    </a>
                </div>
                @if (Model.RepliesTo.Count > 0)
                {
                    <div class="replying-to-context pt-1 pb-1">
                        Replying to
                        @foreach (var replyTo in Model.RepliesTo.Select(s => s.Slug).Distinct())
                        {
                            <a asp-page="/Profiles/Index" asp-route-slug="@replyTo">
                                <span>
                                    @@@replyTo&#32;
                                </span>
                            </a>
                        }
                    </div>
                }
                <div class="d-block">
                    <p class="tweet-text">@Model.Text</p>
                </div>
                <div class="w-100 mt-2">
                    @if (Model.Slug.Equals(ViewData["CurrentUserSlug"].ToString())
                  && !Model.IsRetweet)
                    {
                        <button type="button" class="btn btn-danger btn-delete-tweet" data-tweet-id="@Model.Id">
                            <span>Delete</span>
                        </button>
                    }
                    <button type="button" class="btn btn-outline-secondary btn-reply" data-tweet-id="@Model.Id">
                        <span>@Model.ReplyCount</span>
                    </button>
                    <button type="button" class="btn btn-outline-success btn-retweet" data-tweet-id="@Model.Id">
                        <span>@Model.RetweetCount</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-like" data-tweet-id="@Model.Id">
                        <span>@Model.LikeCount</span>
                    </button>
                </div>
            </div>
            <!-- /.col-md-11 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.tweet -->
</div>