@page "{userName}"
@model TwitterCopy.Pages.Profiles.IndexModel

<div class="row">
    <div class="col-md-3">
        <h2>Left sidebar</h2>
        <h4>
            <a asp-page="./Index" asp-route-userName="@Model.ProfileUser.Slug">
                @Model.ProfileUser.UserName
            </a>
        </h4>
        <p>
            <a asp-page="./Index" asp-route-userName="@Model.ProfileUser.Slug">
                @@@Model.ProfileUser.Slug
            </a>
        </p>
        <div>
            @if (Model.ProfileUser.UserName != User.Identity.Name)
            {
                <button type="button" class="btn btn-outline-primary btn-follow-main @(Model.IsFollowed ? "d-none" : "")">
                    <span data-username="@Model.ProfileUser.UserName">Follow</span>
                </button>
                <button type="button" class="btn btn-primary btn-following-main @(Model.IsFollowed ? "" : "d-none")">
                    <span data-username="@Model.ProfileUser.UserName">Following</span>
                </button>
                <button type="button" class="btn btn-danger btn-unfollow-main d-none">
                    <span data-username="@Model.ProfileUser.UserName">Unfollow</span>
                </button>
            }
        </div>
        <div>
            <p id="followersCount">Followers: <span>@Model.ProfileUser.Followers.Count</span></p>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Tweets</h2>
        @if (Model.Tweets.Count() > 0)
        {
            <partial name="_Tweets" model="Model.Tweets" />
        }
        else
        {
            <p>User doesn't have Tweets yet.</p>
        }
    </div>

    <partial name="_DeleteTweetModal" />

    <div class="col-md-3">
        <h2>Right sidebar</h2>
    </div>
</div>
