@model IList<TwitterCopy.Models.TweetModel>

@foreach (var tweet in Model)
{
    <div class="card">
        <div class="card-header">
            <div>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a asp-page="/Profiles/Index" asp-route-userName="@tweet.AuthorSlug">
                            @tweet.AuthorName
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <span class="text-muted">
                            @@@tweet.AuthorSlug
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <p>@tweet.Text</p>
        </div>
        <div class="card-footer">
            @if (tweet.AuthorName == User.Identity.Name)
            {
                <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#deleteTweetModal" data-tweet="@tweet.Id">
                    Delete
                </button>
            }
            <button type="button" class="btn btn-outline-success btn-retweet" data-id="@tweet.Id">
                <span>@tweet.RetweetCount</span>
            </button>
            <button type="button" class="btn btn-outline-primary btn-like" data-id="@tweet.Id">
                <span>@tweet.LikeCount</span>
            </button>
        </div>
    </div>
}
