@model TwitterCopy.Models.ProfileViewModel

<div class="row mb-3 profile-navbar">
    <div class="col-md-3">
    </div>
    <!-- /.col-md-3 -->
    <div class="col-md">
        <div class="profileStats">
            <ul class="profile-nav nav text-center d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link @ManageProfileNavPages.IndexNavClass(ViewContext)"
                       asp-page="./Index" asp-route-slug="@Model.Slug">
                        <span class="profile-nav-label">@Localizer["Tweets"]</span>
                        <span id="tweetsCount" class="profile-nav-value">@Model.TweetCount</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageProfileNavPages.FollowingNavClass(ViewContext)"
                       asp-page="./Following" asp-route-slug="@Model.Slug">
                        <span class="profile-nav-label">@Localizer["Following"]</span>
                        <span id="followingCount" class="profile-nav-value">@Model.FollowingCount</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageProfileNavPages.FollowersNavClass(ViewContext)"
                       asp-page="./Followers" asp-route-slug="@Model.Slug">
                        <span class="profile-nav-label">@Localizer["Followers"]</span>
                        <span id="followersCount" class="profile-nav-value">@Model.FollowersCount</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageProfileNavPages.LikesNavClass(ViewContext)"
                       asp-page="./Likes" asp-route-slug="@Model.Slug">
                        <span class="profile-nav-label">@Localizer["Likes"]</span>
                        <span id="likesCount" class="profile-nav-value">@Model.LikesCount</span>
                    </a>
                </li>
                <li class="nav-item ml-auto mr-2">
                    <div id="profileActions">
                        @if (!(bool)ViewData["IsYourself"])
                        {
                            <partial name="_FollowActions" for="Slug" view-data="ViewData" />
                        }
                        else if ((bool)ViewData["IsYourself"])
                        {
                            <div class="profile-edit-actions">
                                <button type="button" id="editProfileBtn" class="btn btn-outline-secondary">
                                    <span>@Localizer["Edit profile"]</span>
                                </button>
                                <button type="button" id="cancelEditBtn" class="btn btn-outline-secondary d-none">
                                    <span>@Localizer["Cancel"]</span>
                                </button>
                                <button type="button" id="saveEditBtn" class="btn btn-outline-primary d-none">
                                    <span>@Localizer["Save changes"]</span>
                                </button>
                            </div>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.col-md -->
</div>
<!-- /.row -->
