@page "{slug}"
@model TwitterCopy.Pages.Profiles.FollowingModel
@{
    ViewData["Title"] = "Following";
}

<partial name="_ProfileNav" model="@Model.ProfileUser" view-data="ViewData" />
<div class="row">
    <div class="col-md-3">
        <div id="profileInfo">
            <h4>
                <a id="profileInfoUserName" asp-page="./Index" asp-route-slug="@Model.ProfileUser.Slug">
                    @Model.ProfileUser.UserName
                </a>
            </h4>
            <p>
                <a id="profileInfoSlug" asp-page="./Index" asp-route-slug="@Model.ProfileUser.Slug" data-slug="@Model.ProfileUser.Slug">
                    @@@Model.ProfileUser.Slug
                </a>
            </p>
            <p>
                <span id="profileInfoBio">@Model.ProfileUser.Bio</span>
            </p>
            <p>
                <span id="profileInfoLocation">@Model.ProfileUser.Location</span>
            </p>
            <p>
                <span id="profileInfoWebsite">@Model.ProfileUser.Website</span>
            </p>
        </div>
        <partial name="_ProfileEditForm" model="Model.Input" />
    </div>

    <div class="col-md">
        @if (Model.Following.Count() > 0)
        {
            <div class="row">
                @foreach (var follow in Model.Following)
                {
                    <div class="col-md-4">
                        <div class="border mt-3">
                            <div class="profile-follow-actions d-flex justify-content-end p-1">
                                <button type="button" class="btn btn-sm btn-outline-primary btn-follow-main
                                        @(follow.UserId.ToString() == ViewData["CurrentUserId"].ToString()
                                            || follow.FollowerId.ToString() == ViewData["CurrentUserId"].ToString()
                                            ? "d-none" : "")">
                                    <span data-userslug="@follow.User.Slug">Follow</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-primary btn-following-main
                                        @(follow.FollowerId.ToString() == ViewData["CurrentUserId"].ToString() ? "" : "d-none")">
                                    <span data-userslug="@follow.User.Slug">Following</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-danger btn-unfollow-main d-none">
                                    <span data-userslug="@follow.User.Slug">Unfollow</span>
                                </button>
                            </div>
                            <h4>
                                <a asp-page="./Index" asp-route-slug="@follow.User.Slug">
                                    @follow.User.UserName
                                </a>
                            </h4>
                            <p>
                                <a asp-page="./Index" asp-route-slug="@follow.User.Slug">
                                    @@@follow.User.Slug
                                </a>
                            </p>
                            <p>
                                <span>@follow.User.Bio</span>
                            </p>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>User doesn't follow anyone yet.</p>
        }
    </div>
</div>


