@page "{slug}"
@model TwitterCopy.Pages.Profiles.IndexModel

<div class="row">
    <div class="col-md-3">
        <h2>Left sidebar</h2>
        <div id="profileInfo">
            <h4>
                <a id="profileInfoUserName" asp-page="./Index" asp-route-slug="@Model.Profile.Slug">
                    @Model.Profile.UserName
                </a>
            </h4>
            <p>
                <a asp-page="./Index" asp-route-slug="@Model.Profile.Slug">
                    @@@Model.Profile.Slug
                </a>
            </p>
            <p>
                <span id="profileInfoBio">@Model.Profile.Bio</span>
            </p>
            <p>
                <span id="profileInfoLocation">@Model.Profile.Location</span>
            </p>
            <p>
                <span id="profileInfoWebsite">@Model.Profile.Website</span>
            </p>
        </div>
        <div id="profileEdit" class="d-none">
            <form method="post" id="profileEditForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.UserName" name="userName" class="form-control" placeholder="Name" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Bio" name="bio" class="form-control" placeholder="Bio" />
                    <span asp-validation-for="Input.Bio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Location" name="location" class="form-control" placeholder="Location" />
                </div>
                <div class="form-group">
                    <input asp-for="Input.Website" name="website" class="form-control" placeholder="Website" />
                    <span asp-validation-for="Input.Website" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <a asp-page="./Index" asp-route-slug="@Model.Profile.Slug">
            <span>Tweets</span>
            <span id="tweetsCount">@Model.Profile.TweetsCount</span>
        </a>
        <a asp-page="./Following">
            <span>Following</span>
            <span id="followingsCount">@Model.Profile.FollowingCount</span>
        </a>
        <p id="followersCount">Followers: <span>@Model.Profile.FollowersCount</span></p>
        <p id="likesCount">Likes: <span>@Model.Profile.LikesCount</span></p>
        <div id="profileActions">
            @if (!(bool)ViewData["IsYourself"])
            {
                <div id="profileFollowActions">
                    <button type="button" class="btn btn-outline-primary btn-follow-main @((bool)ViewData["IsFollowed"] ? "d-none" : "")">
                        <span data-userslug="@Model.Profile.Slug">Follow</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-following-main @((bool)ViewData["IsFollowed"] ? "" : "d-none")">
                        <span data-userslug="@Model.Profile.Slug">Following</span>
                    </button>
                    <button type="button" class="btn btn-danger btn-unfollow-main d-none">
                        <span data-userslug="@Model.Profile.Slug">Unfollow</span>
                    </button>
                </div>
            }
            else if ((bool)ViewData["IsYourself"])
            {
                <div id="profileEditActions">
                    <button type="button" id="editProfileBtn" class="btn btn-outline-secondary">
                        <span>Edit profile</span>
                    </button>
                    <button type="button" id="cancelEditBtn" class="btn btn-outline-secondary d-none">
                        <span>Cancel</span>
                    </button>
                    <button type="button" id="saveEditBtn" class="btn btn-outline-primary d-none">
                        <span>Save changes</span>
                    </button>
                </div>
            }
        </div>

        <h2>Tweets</h2>
        @if (Model.Tweets.Count() > 0)
        {
            <partial name="_Tweets" model="Model.Tweets" />
        }
        else
        {
            <p>User doesn't have Tweets yet.</p>
        }
    </div>

    <partial name="_DeleteTweetModal" />

    <div class="col-md-3">
        <h2>Right sidebar</h2>
    </div>
</div>
