@page "{slug}"
@model TwitterCopy.Pages.Profiles.IndexModel


<partial name="_ProfileNav" model="@Model.Profile" view-data="ViewData" />
<div class="row">
    <div class="col-md-3">
        <div id="profileInfo">
            <h4>
                <a id="profileInfoUserName" asp-page="./Index" asp-route-slug="@Model.Profile.Slug">
                    @Model.Profile.UserName
                </a>
            </h4>
            <p>
                <a asp-page="./Index" asp-route-slug="@Model.Profile.Slug">
                    @@@Model.Profile.Slug
                </a>
            </p>
            <p>
                <span id="profileInfoBio">@Model.Profile.Bio</span>
            </p>
            <p>
                <span id="profileInfoLocation">@Model.Profile.Location</span>
            </p>
            <p>
                <span id="profileInfoWebsite">@Model.Profile.Website</span>
            </p>
        </div>
        <partial name="_ProfileEditForm" model="Model.Input" />
    </div>

    <div class="col-md-6">
        @if (Model.Tweets.Count() > 0)
        {
            foreach (var tweet in Model.Tweets)
            {
                <partial name="_Tweet" model="tweet" />
            }
        }
        else
        {
            <p>User doesn't have Tweets yet.</p>
        }
    </div>

    <partial name="_DeleteTweetModal" />
    <partial name="_TweetModal" />

    <div class="col-md-3">
        <h2>Right sidebar</h2>
    </div>
</div>
